jupyterlab==3.4.5

numpy==1.23.2

pandas==1.4.3

python-dotenv>=0.20.0

pytesseract==0.3.10

pip==22.2.2

PyMuPDF==1.20.2

Pillow==9.2.0

PyPDF2==2.10.5

camelot-py==0.10.1

Wand==0.6.10

ghostscript==0.7