jupyterlab==3.4.5

numpy==1.23.2

pandas==1.4.3

python-dotenv>=0.20.0

pytesseract==0.3.10

pip==22.2.2

PyMuPDF==1.20.2

Pillow==9.2.0

PyPDF2==2.10.5

camelot-py==0.10.1

Wand==0.6.10

ghostscript==0.7

num2words==0.5.12

torch==1.13.0

torchvision==0.13.1

torchaudio==0.12.1

transformers==4.23.1

matplotlib==3.6.1

evaluate==0.3.0

scikit-learn==1.1.3

fire==0.4.0

regex==2022.10.31

requests==2.28.1

tqdm==4.64.1

toposort==1.7

tensorflow==2.10.0

mobilechelonian==0.5

dash==2.7.0

jupyter-dash==0.4.2

dash-bootstrap-components==1.2.1

dash-table-experiments==0.6.0

pymongo==4.3.2

lxml==4.9.1

plotly-express==0.4.1